<!DOCTYPE html>
<html ng-app = 'Elevate'>
<head>
  <meta charset="utf-8">
  <meta ame="viewport" content="width=device-width">
  <title>Elevate</title>
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/normalize.css" type="text/css">
  <link rel="stylesheet" href="assets/css/style.css" type="text/css">
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- bootstrap js -->
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
  <!-- ui-router -->
  <!-- <script src="../vendor/angular-ui-router.min.js"></script> -->
    <!-- ngrouter -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
  <!-- app -->
  <script src="../app/app.js"></script>
  <script src="../app/app-services/user.service.js"></script>
  <script src="../app/child/child.controller.js"></script>
  <script src="../app/child/exercises/exercises.controller.js"></script>
  <script src="../app/home/index.controller.js"></script>
  <script src="../app/parent/parent.controller.js"></script>
  <script src="../app/teacher/teacher.controller.js"></script>
</head>
<body ng-controller='HomeCtrl' class="container">
    <!-- header -->
    <header>
        <ul class="nav nav-tabs">
            <li><a href="#">Home</a></li>
            <!-- <li><a href="#">Account</a></li> -->
            <li><a href="#">Logout</a></li>
        </ul>
        <!--  <div class="flash-message" ng-if="flash">
            <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
        </div> -->
    </header>
    <div class="row">
        <div class="col-md-2">
            <ul id="sidebar">
                <li ng-repeat="field in areasOfKnowledge " ng-class="{'active':verifyFieldOfKnowledge(field)}">
                    <a href="#" ng-click="showFieldOfKnowledge(field)">
                        <div class="sidebar-buttons">{{field.name}}</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-1"></div>
        <!-- ALL ADDITION -->
        <div class="col-md-8" ng-if="addition.active">
            <!-- ADDITION EXERCISE ONE -->
            <div ng-if="addition.exerciseOne" id="encapsulate">
                <div class='row'>
                    <div class="col-md-3">
                        <div class="choice" id="choice1">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice2">
                            <p>8</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice3">
                            <p>3</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice4">
                            <p>4</p>
                        </div>
                    </div>
                </div>
                <div class="block-question">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3" id="question">
                            <h5> 5 + 3 </h5>
                        </div>
                        <div class="col-md-1">
                            <h5>=</h5>
                        </div>
                        <div class="col-md-2" id="answer">
                            <h5> </h5>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-2" id="next-button">
                        <div ng-click="nextAdditionExercise('exerciseOne', 'exerciseTwo')" id="next-exercise">Next Exercise</div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <!--  END EXERCISE ONE -->
            <!-- ADDITION EXERCISE TWO -->
            <div ng-if="addition.exerciseTwo" id="encapsulate">
                <div class="row">
                    <div class="col-md-3">
                        <div class="choice" id="choice1">
                            <p>14</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice2">
                            <p>8</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice3">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice4">
                            <p>9</p>
                        </div>
                    </div>
                </div>
                <div class="block-question">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3" id="question">
                            <h5> 5 + 9</h5>
                        </div>
                        <div class="col-md-1">
                            <h5>=</h5>
                        </div>
                        <div class="col-md-2" id="answer">
                            <h5> </h5>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-2" id="next-button">
                        <div ng-click="nextAdditionExercise('exerciseTwo', 'exerciseThree')" id="next-exercise">Next Exercise</div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <!--  END EXERCISE TWO -->
            <!-- ADDITION EXERCISE THREE -->
            <div ng-if="addition.exerciseThree" id="encapsulate">
                <div class="row">
                    <div class="col-md-3">
                        <div class="choice" id="choice1">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice2">
                            <p>9</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice3">
                            <p>10</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice4">
                            <p>6</p>
                        </div>
                    </div>
                </div>
                <div class="block-question">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3" id="question">
                            <h5>  1   +    9 </h5>
                        </div>
                        <div class="col-md-1">
                            <h5>=</h5>
                        </div>
                        <div class="col-md-2" id="answer">
                            <h5> </h5>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-2" id="next-button">
                        <div ng-click="nextAdditionExercise('exerciseThree', 'exerciseFour')" id="next-exercise">Next Exercise</div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        </div>
        <!--  END EXERCISE THREE -->
        <!-- ALL SUBTRACTION -->
        <div ng-if="subtraction.active" class="col-md-8">
            <!-- SUBTRACTION EXERCISE ONE -->
            <div ng-if="subtraction.exerciseOne" id="encapsulate">
                <div class="row">
                    <div class="col-md-3">
                        <div class="choice" id="choice1">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice2">
                            <p>3</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice3">
                            <p>73</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice4">
                            <p>4</p>
                        </div>
                    </div>
                </div>
                <div class="block-question">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3" id="question">
                            <h5> 4 - 1 </h5>
                        </div>
                        <div class="col-md-1">
                            <h5>=</h5>
                        </div>
                        <div class="col-md-2" id="answer">
                            <h5> </h5>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-2" id="next-button">
                        <div ng-click="nextSubtractionExercise('exerciseOne', 'exerciseTwo')" id="next-exercise">Next Exercise</div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <!--  END EXERCISE ONE -->
            <!-- SUBTRACTION EXERCISE TWO -->
            <div ng-if="subtraction.exerciseTwo" id="encapsulate">
                <div class="row">
                    <div class="col-md-3">
                        <div class="choice" id="choice1">
                            <p>10</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice2">
                            <p>33</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice3">
                            <p>2</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice4">
                            <p>4</p>
                        </div>
                    </div>
                </div>
                <div class="block-question">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3" id="question">
                            <h5> 7 - 5 </h5>
                        </div>
                        <div class="col-md-1">
                            <h5>=</h5>
                        </div>
                        <div class="col-md-2" id="answer">
                            <h5> </h5>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-2" id="next-button">
                        <div ng-click="nextSubtractionExercise('exerciseTwo', 'exerciseThree')" id="next-exercise">Next Exercise</div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <!--  END EXERCISE TWO -->
            <!-- SUBTRACTION EXERCISE THREE -->
            <div ng-if="subtraction.exerciseThree" id="encapsulate">
                <div class="row">
                    <div class="col-md-3">
                        <div class="choice" id="choice1">
                            <p>0</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice2">
                            <p>3</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice3">
                            <p>22</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice" id="choice4">
                            <p>8</p>
                        </div>
                    </div>
                </div>
                <div class="block-question">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3" id="question">
                            <h5> 9 - 1 </h5>
                        </div>
                        <div class="col-md-1">
                            <h5>=</h5>
                        </div>
                        <div class="col-md-2" id="answer">
                            <h5> </h5>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-2" id="next-button">
                        <div ng-click="nextSubtractionExercise('exerciseThree', 'exerciseFour')" id="next-exercise">Next Exercise</div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <!--  END EXERCISE THREE -->
        </div>
        <!-- END OF SUBTRACTION PROBLEMS" -->
        <!-- ALL PATTERNS -->
        <div ng-if="patterns.active" class="col-md-8">
            <!-- PATTERNS EXERCISE ONE -->
            <div ng-if="patterns.exerciseOne" id="encapsulate">
                <div class="row" id="options">
                    <div class="col-md-3">
                        <div class="circle"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="triangle"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="square"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="triangle-down"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="prompt">
                        <h2>What shape comes next in the pattern?</h2>
                    </div>
                </div>
                <div class="block-question">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-1">
                            <div class="circle_question"></div>
                        </div>
                        <div class="col-md-1">
                            <div class="triangle-down_question"></div>
                        </div>
                        <div class="col-md-1">
                            <div class="triangle-down_question"></div>
                        </div>
                        <div class="col-md-1">
                            <div class="circle_question"></div>
                        </div>
                        <div class="col-md-1">
                            <div class="triangle-down_question"></div>
                        </div>
                        <div class="col-md-1" id="empty-space"></div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-2" id="next-button">
                        <div ng-click="nextPatternsExercise('exerciseOne', 'exerciseTwo')" id="next-exercise">Next Exercise</div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <!--  END EXERCISE ONE -->
            <!-- PATTERNS EXERCISE TWO -->
            <div ng-if="patterns.exerciseTwo" id="encapsulate">
                <div class="row" id="options">
                    <div class="col-md-3">
                        <div class="triangle"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="circle"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="triangle-down"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="square"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="prompt">
                        <h2>What shape comes next in the pattern?</h2>
                    </div>
                </div>
                <div class="block-question">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-1">
                            <div class="circle_question"></div>
                        </div>
                        <div class="col-md-1">
                            <div class="triangle-down_question"></div>
                        </div>
                        <div class="col-md-1">
                            <div class="circle_question"></div>
                        </div>
                        <div class="col-md-1">
                            <div class="triangle-down_question"></div>
                        </div>
                        <div class="col-md-1">
                            <div class="circle_question"></div>
                        </div>
                        <div class="col-md-1" id="empty-space"></div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-2" id="next-button">
                        <div ng-click="nextPatternsExercise('exerciseTwo', 'exerciseThree')" id="next-exercise">Next Exercise</div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <!--  END EXERCISE TWO -->
            <!-- PATTERNS EXERCISE THREE -->
            <div ng-if="patterns.exerciseThree" id="encapsulate">
                <div class="row" id="options">
                    <div class="col-md-3">
                        <div class="square"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="triangle"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="triangle-down"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="circle"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="prompt">
                        <h2>What shape comes next in the pattern?</h2>
                    </div>
                </div>
                <div class="block-question">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-1">
                            <div class="circle_question"></div>
                        </div>
                        <div class="col-md-1">
                            <div class="circle_question"></div>
                        </div>
                        <div class="col-md-1">
                            <div class="circle_question"></div>
                        </div>
                        <div class="col-md-1">
                            <div class="triangle-down_question"></div>
                        </div>
                        <div class="col-md-1">
                            <div class="triangle-down_question"></div>
                        </div>
                        <div class="col-md-1" id="empty-space"></div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-2" id="next-button">
                        <div ng-click="nextPatternsExercise('exerciseThree', 'exerciseFour')" id="next-exercise">Next Exercise</div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <!--  END EXERCISE THREE -->
        </div>
        <!--  ENd OF SHAPES -->
        <!-- ALL COUNTING -->
        <div ng-if="counting.active" class="col-md-8">
            <!-- COUNTING EXERCISE ONE -->
            <div ng-if="counting.exerciseOne" id="encapsulate">
                <div class="row">
                    <div class="col-md-12">
                        <div id="constellation"><img src="../../../assets/images/c2.jpg"></div>
                    </div>
                </div>
                <div class="row" id="counting">
                    <div class="col-md-12">
                        <h2>How many stars are there?</h2></div>
                </div>
                <div class="row" id="after-counting">
                    <div class="col-md-3">
                        <div class="choice stars" id="choice1">
                            <p>1</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice stars" id="choice2">
                            <p>5</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice stars" id="choice3">
                            <p>3</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice stars" id="choice4">
                            <p>4</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-2" id="next-button">
                        <div ng-click="nextCountingExercise('exerciseOne', 'exerciseTwo')" id="next-exercise">Next Exercise</div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <!--  END EXERCISE ONE -->
            <!-- COUNTING EXERCISE TWO -->
            <div ng-if="counting.exerciseTwo" id="encapsulate">
                <div class="row">
                    <div class="col-md-12">
                        <div id="constellation"><img src="../../../assets/images/c3.jpg"></div>
                    </div>
                </div>
                <div class="row" id="counting">
                    <div class="col-md-12">
                        <h2>How many stars are there?</h2></div>
                </div>
                <div class="row" id="after-counting">
                    <div class="col-md-3">
                        <div class="choice stars" id="choice1">
                            <p>6</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice stars" id="choice2">
                            <p>8</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice stars" id="choice3">
                            <p>10</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="choice stars" id="choice4">
                            <p>7</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9"></div>
                    <div class="col-md-2" id="next-button">
                        <div ng-click="nextCountingExercise('exerciseTwo', 'exerciseThree')" id="next-exercise">Next Exercise</div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
        <!--  END EXERCISE TWO -->
        <!-- COUNTING EXERCISE THREE -->
          <div ng-if="counting.exerciseThree" id="encapsulate">
              <div class="row">
                  <div class="col-md-12">
                      <div id="constellation"><img src="../../../assets/images/c7.jpg"></div>
                  </div>
              </div>
              <div class="row" id="counting">
                  <div class="col-md-12">
                      <h2>How many stars are there?</h2></div>
              </div>
              <div class="row" id="after-counting">
                  <div class="col-md-3">
                      <div class="choice stars" id="choice1">
                          <p>18</p>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="choice stars" id="choice2">
                          <p>9</p>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="choice stars" id="choice3">
                          <p>6</p>
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="choice stars" id="choice4">
                          <p>11</p>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-9"></div>
                  <div class="col-md-2" id="next-button">
                      <div ng-click="nextCountingExercise('exerciseThree', 'exerciseFour')" id="next-exercise">Next Exercise</div>
                  </div>
                  <div class="col-md-1"></div>
              </div>
          </div>
        <!--  END EXERCISE THREE -->
    </div>
    <!--  END of COUNTING -->
    <!-- ALL SHAPES -->
    <div ng-if="shapes.active" class="col-md-8">
        <!-- SHAPES EXERCISE ONE -->
        <div ng-if="shapes.exerciseOne" id="encapsulate">
            <div class="row" id="options">
                <div class="col-md-4">
                    <div class="circle"></div>
                </div>
                <div class="col-md-4">
                    <div class="triangle"></div>
                </div>
                <div class="col-md-4">
                    <div class="square"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="prompt">
                    <h2>Which shape is on the right?</h2>
                </div>
            </div>
            <div class="block-question">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <div class="answer-button">Triangle</div>
                    </div>
                    <div class="col-md-2">
                        <div class="answer-button">Circle</div>
                    </div>
                    <div class="col-md-2">
                        <div class="answer-button">Square</div>
                    </div>
                    <div class="col-md-2">
                        <div class="answer-button">Rectangle</div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-2" id="next-button">
                    <div ng-click="nextShapesExercise('exerciseOne', 'exerciseTwo')" id="next-exercise">Next Exercise</div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <!--  END EXERCISE ONE -->
        <!-- SHAPES EXERCISE TWO -->
        <div ng-if="shapes.exerciseTwo" id="encapsulate">
            <div class="row" id="options">
                <div class="col-md-4">
                    <div class="square"></div>
                </div>
                <div class="col-md-4">
                    <div class="circle"></div>
                </div>
                <div class="col-md-4">
                    <div class="triangle"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="prompt">
                    <h2>Which shape is on the right?</h2>
                </div>
            </div>
            <div class="block-question">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <div class="answer-button">Triangle</div>
                    </div>
                    <div class="col-md-2">
                        <div class="answer-button">Circle</div>
                    </div>
                    <div class="col-md-2">
                        <div class="answer-button">Square</div>
                    </div>
                    <div class="col-md-2">
                        <div class="answer-button">Rectangle</div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-2" id="next-button">
                    <div ng-click="nextShapesExercise('exerciseTwo', 'exerciseThree')" id="next-exercise">Next Exercise</div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <!--  END EXERCISE TWO -->
        <!-- SHAPES EXERCISE THREE -->
        <div ng-if="shapes.exerciseThree" id="encapsulate">
            <div class="row" id="options">
                <div class="col-md-4">
                    <div class="circle"></div>
                </div>
                <div class="col-md-4">
                    <div class="square"></div>
                </div>
                <div class="col-md-4">
                    <div class="triangle"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" id="prompt">
                    <h2>Which shape is on the left?</h2>
                </div>
            </div>
            <div class="block-question">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <div class="answer-button">Triangle</div>
                    </div>
                    <div class="col-md-2">
                        <div class="answer-button">Circle</div>
                    </div>
                    <div class="col-md-2">
                        <div class="answer-button">Square</div>
                    </div>
                    <div class="col-md-2">
                        <div class="answer-button">Rectangle</div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-2" id="next-button">
                    <div ng-click="nextShapesExercise('exerciseThree', 'exercisefour')" id="next-exercise">Next Exercise</div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
        <!--  END EXERCISE THREE -->
    </div>
    <!--  END of ALL SHAPES -->
    <!-- ALL MEASUREMENTS -->
    <div ng-if="measurements.active" class="col-md-8">
        <!-- MEASUREMENTS EXERCISE ONE -->
        <div ng-if="measurements.exerciseOne" id="encapsulate">
            <div class="row">
                <div class="col-md-6">
                    <div class="rocket-pic"><img src="../../../assets/images/rocket.png">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="rocket-pic"><img id="right-rocket" src="../../../assets/images/rocket.png">
                    </div>
                </div>
            </div>
            <div class="row" id="counting">
                <div class="col-md-12">
                    <h2>Which rocket is smaller?</h2></div>
            </div>
            <div class="block-question">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <div class="answer-button rocket-answer">The Left Rocket</div>
                    </div>
                    <div class="col-md-5">
                        <div class="answer-button rocket-answer">The Right Rocket</div>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-2" id="next-button">
                    <div ng-click="nextMeasurementsExercise('exerciseOne', 'exerciseTwo')" id="next-exercise">Next Exercise</div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <!--  END EXERCISE ONE -->
    </div>
</body>
</html>


  <!-- models -->
 <!--  <script src="../models/result.js"></script>
  <script src="../models/user.js"></script> -->

  <!-- services(collection of general methods) -->
  <!-- <script src="../services/user.service.js"></script> -->